<html>
<head>
	<title><%= model.title %></title>
</head>
<body>
<style>
	.flexcontainer {
  		display: flex; /* or inline-flex */
  		flex-direction: row;
  		flex-wrap: nowrap;
  		justify-content: space-between;
  		align-items: flex-start;
  		align-content: flex-start;
	}
	.flexitem {
		flex-basis: auto;
		align-self: flex-start;
	}
</style>
	<% for (var y = 0; y < model.rows; y++) { %>

	<div class="flexcontainer">
	
		<% for (var x = 0; x < model.columns; x++) { %>
		<% var block = model.blocks[y * model.columns + x]; %>
			<div class="flexitem" style="order: <%= x %>;">
				<%- include('_block.ejs', { block: block }) %>
			</div>
		<% } %>

	</div>
	<% } %>
</body>
</html>
